main{
    .content{
        img {
            width: 820px;
            height: 309px;
        }
        .contact-container{
            text-align: center;
            padding: 2rem;
            h1{
                margin-bottom: 1rem;
                font-size: 2rem;
            }

            h2{
                letter-spacing: .2rem;
                line-height: 3rem;
            }
        }
    }
}