@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./variables";
@import './header';
@import './footer';
@import "./home";
@import "./menu";
@import "./contact";



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $body-font;
}


.home{
    color: red;
}

.menu{
    color: $accent-color;
}
.contact{
    color: $accent-color;
}









